{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
        {# Utilisation de classes bootstrap pour la mise en forme #}
        <div class="row">
            <div class="col-12">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="col-12">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>

            <div class="col-12">
                {{ form_label(form.patient.name) }}
                {{ form_widget(form.patient.name) }}
            </div>

            <div class="col-12">
                {{ form_label(form.patient.firstname) }}
                {{ form_widget(form.patient.firstname) }}
            </div>

            <div class="col-12">
                {{ form_label(form.patient.date_birth) }}
                {{ form_widget(form.patient.date_birth) }}
            </div>
        </div>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_index') }}">Back to list</a>
{% endblock %}